<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjtpf5M4j0VZcqKKP4MNbkxVb7lzKUl9s</string>
	<key>GCM_SENDER_ID</key>
	<string>576978647108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationOpenmemes</string>
	<key>PROJECT_ID</key>
	<string>openmemes-305af</string>
	<key>STORAGE_BUCKET</key>
	<string>openmemes-305af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576978647108:ios:ab358b87d3d561e36d6411</string>
</dict>
</plist>